node_modules/
npm-debug.log*

.env
.env.*

!.env.example

dist/
build/

coverage/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

mysql_data/

docker-data/

package-lock.json

target/

*.class

*.jar

*.war

*.iml

out/

database/backups/

tmp/
temp/
